/* Shared UI components: popup cards */

.popup-box {
	position: relative;
	background-color: white;
	border: 1rem solid #66ccff;
	border-radius: 2rem;
	color: black;
	text-align: center;
}

.popup-box::before {
	content: "";
	position: absolute;
	top: -1rem;
	bottom: -1rem;
	left: -1rem;
	right: -1rem;
	border: 0.3rem solid #336699;
	border-radius: 2rem;
	pointer-events: none;
}
