.faq-section {
	max-width: 80%;
	max-height: 100vh;
	margin: auto;
	padding: 3rem 2rem;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	line-height: 1.6;
	display: flex;
	flex-direction: column;
}

.faq-section .popup-box {
	max-width: 30vw;
	padding: 2rem;
	border: none;
	border-radius: 35px;
	margin: auto;
	overflow: hidden;
}

.faq-section .popup-box h3 {
	text-align: center;
	font-size: 3rem;
}

.faq-section .popup-box::before {
	content: "";
	position: absolute;
	top: -24px;
	left: -24px;
	right: -24px;
	bottom: -24px;
	border: 4px solid #007bb5;
	border-radius: 39px;
	z-index: -1;
}

.search-box {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 80%;
	border-radius: 25px;
	overflow: hidden;
	text-align: center;
}

.search-box input {
	width: 100%;
	padding: 10px 20px;
	border: 1px solid #000;
	border-radius: 25px;
	font-size: 16px;
	outline: none;
	box-sizing: border-box;
}

.faq-list-box {
	max-height: 100vh;
	overflow: auto;
}

.faq-list dt {
	font-weight: bold;
	color: #007bb5;
	margin-top: 15px;
}

.faq-list dd {
	margin-left: 20px;
	color: #555;
}

.contact-section {
	width: 100%;
	margin: 40px auto;
	padding: 0.5% 10%;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 20px;
	color: #333;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-row {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.form-row input {
	flex: 1;
	min-width: calc(50% - 20px);
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
}

.contact-form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	resize: none;
	box-sizing: border-box;
}

.contact-form button {
	align-self: flex-start;
	padding: 10px 20px;
	font-size: 16px;
	color: white;
	background-color: #007bb5;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.contact-form button:hover {
	background-color: #005f8c;
}
