.account-container {
	width: 80%;
	margin: 8rem auto;
}

.account-container h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.account-details {
	margin-bottom: 2rem;
}

.account-details button,
#load-more-btn {
	padding: 10px 20px;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #007bb5;
	color: white;
	margin-top: 1rem;
}

.account-details button:hover,
#load-more-btn:hover {
	background-color: #005f8b;
}

.recent-orders {
	margin: 20px auto;
	width: 100%;
	text-align: left;
}

.order-item {
	border: 1px solid #ccc;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.order-item h3 {
	margin: 0 0 10px;
	padding: 0;
	font-size: 18px;
	color: #333;
}

.order-item ul {
	list-style-type: none;
	padding: 0;
}

.order-item li {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 5px;
}

.order-item img {
	border: 1px solid #ddd;
	border-radius: 5px;
}
