h3 {
	padding: 5rem 10% 2rem;
	font-size: 1.5rem;
}

.cart-table {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.cart-header {
	display: flex;
	justify-content: space-between;
	width: 80%;
	font-weight: bold;
	border-bottom: 2px solid black;
	padding-bottom: 5px;
}

.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.cart-item img {
	width: 100px;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.item-details {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;
}

.item-name {
	flex: 1;
	text-align: left;
}

.item-amount {
	flex: 1;
	margin-left: -3rem;
	text-align: center;
}

.item-price {
	flex: 1;
	text-align: right;
}

.cart-summary {
	margin-top: 20px;
	text-align: right;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.8rem;
	line-height: 2rem;
}

.subtotal {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	margin-bottom: 10px;
}

.cart-summary button {
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	background-color: #000;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.cart-summary button:hover {
	background-color: #555;
}

.remove-item-btn {
	background-color: #ff5555;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 12px;
	transition: background-color 0.3s ease;
}

.remove-item-btn:hover {
	background-color: #cc4444;
}
